.footer {
  background-color: #ddd;
}

.sectionFooter {
  display: flex;
  align-items: center;
  margin-top: 256px;
  background-color: #ddd;
  justify-content: space-between;
  height:128px;
  width: 100%;
  font-weight: bold;
  padding: 0 20px 0 20px;
}

.textFooter {
  display: flex;
  align-items: center;
}

.footerContact {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.create {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 12px;
}