
.navbar {
    display: flex;
    align-items: center;
    /* background-color: #ddd; */
    backdrop-filter: blur(10px);
    background: linear-gradient(to bottom, rgba(221, 221, 221, 0), rgba(221, 221, 221, 1));
    justify-content: space-between;
    height: 50px;
    width: 100%;
    position: fixed;
    font-weight: bold;
    padding: 0 20px 0 20px;
  }
/* 
  @media (min-width: 1201px) {
    .navbar {
      padding-right: 100px;
    }
  } */
  
  .logo {
    display: flex;
  }

  .nameLogo {
    align-self: center;
    padding-left: 8px;
    color: #333;
    font-size: 18px;
  }

  .sections a {
    margin-left: 20px;
    color: #333;
    text-decoration: none;
  }
  
  .sections a:hover {
    color: #ff0000;
  }