
.navbar {
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    background: linear-gradient(to bottom, rgba(221, 221, 221, 0), rgba(221, 221, 221, 1));
    height: 50px;
    width: 100%;
    position: fixed;
    font-weight: bold;
    padding: 0 20px 0 20px;
    z-index: 2;
  }

  .logo {
    display: flex;
  }

  .logo:hover {
    cursor: pointer;
  }

  .nameLogo {
    align-self: center;
    padding-left: 8px;
    color: #333;
    font-size: 18px;
  }

  .sectionButton {
    margin-left: 20px;
    color: #333;
    text-decoration: none;
    transition: color 0.5s ease;
  }
  
  .sectionButton a:hover {
    color: #c07c3c;
    cursor: pointer;
  }

  .containerLogo {
    display: flex;
    flex: 1;
  }

  .sections {
    display: flex;
    flex: 1;
    justify-content: start;
  }

  .listMenu {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: 500px) {
  .iconMenu {
    display: none;
  }
}

  @media (max-width: 500px) {
    .listMenu {
      display: none;
    }
        .containerLogo {
      flex: none;
      justify-content: space-between;
    }
    .sections {
      justify-content: end;
    }
  }

  .ReactModalPortal {
    display: flex;
  }

  .iconMenu {
    border: none;
  }

  .menuModal {
    margin: 100px auto ;
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    width: 90vw;
    height: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #969696;
    border-radius: 10px;
    background-color: white;
  }

  .sectionButtonModal, .closeModal {
    text-align: center;
    padding: 8px;
  }

  .closeModal {
    padding-top: 24px;
    color: #969696;
    font-size: 14px;
  }

  .listModal {

  }
