

.heroAbout {
  padding-top: 100px;
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.textHeroAbout {
  font-size: 58px;
  font-weight: bold;
}

.descriptionHeroAbout {
  max-width: 800px;
}

.decoAbout1, .decoAbout2 {
  opacity: 0.2;
  position: absolute;
  max-width: 768px;
  height: 100%;
  object-fit: cover;
}

.decoAbout1 {
  top: 100px;
  left: -650px;
}

.decoAbout2 {
  top: -100px;
  right: -540px;
}

@media (max-width: 768px) {
  .descriptionHeroAbout {
    max-width: 70vw;
  }
  .decoAbout1 {
    top: 100px;
    left: -680px;
  }
  .decoAbout2 {
    top: -130px;
    right: -590px;
  }
}

@media (max-width: 500px) {
  .descriptionHeroAbout {
    max-width: 60vw;
  }
  .decoAbout1 {
    top: 130px;
    left: -720px;
    display: flex;
    align-items: center;
  }
  .decoAbout2 {
    top: -50px;
    right: -690px;
  }
}

