button {
  color: white;
}

.buttonWS {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px auto;
  padding: 6px 0;
  background-color: #c07c3c;
  width: 256px;
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}

